In [26]:
import numpy as np
import pandas as pd

# import seaborn as sns
# from matplotlib import pyplot as plt

from utils import load_results_dataframe

In [47]:
seeds = [5, 10, 20]
times = [5, 20, 60]
angles = [15, 30, 60, 90]
speeds = [0.5, 1, 2, 4]
bts = list(np.arange(0.5, 20.5, 0.5)) #seconds
lp = 0.1 #seconds
wt = 5 #seconds
model = 'LinearMobility'
node = 1

full_df = pd.DataFrame()
for seed in seeds:
    for time in times:
        for angle in angles:
            for speed in speeds:
                path = f'../{model}/seed{seed}_time{time}_angle{angle}_speed{speed}'
                for bt in bts:
                    df = load_results_dataframe(node, bt, lp, wt, time, path)
                    df['seed'] = seed
                    df['time'] = time
                    df['angle'] = angle
                    df['speed'] = speed
                    full_df = pd.concat([full_df, df])

In [48]:
full_df.to_csv(f'../{model}.csv')

In [46]:
time = 20
seed = 5
speed = 0.5
angles = [15, 30, 60, 90]

angles_df = full_df[(full_df['time']==time) & (full_df['seed']==seed) & (full_df['speed']==speed) & (full_df['angle'].isin(angles))]
# full_df[(full_df['sim_time']==time)]
angles_df.drop(["told_by", "hop", "start", "end", "sim_time"], axis=1).groupby(["node", "seen_id", "broadcast_time", "frequency", "angle", "seed", "speed", "time"], as_index=False).sum()

,node,seen_id,broadcast_time,frequency,angle,seed,speed,time,window_duration,log_position_time
0,1,2,0.5,2.000000,15,5,0.5,20,373.5,7.8
1,1,2,0.5,2.000000,30,5,0.5,20,373.5,7.8
2,1,2,0.5,2.000000,60,5,0.5,20,373.5,7.8
3,1,2,0.5,2.000000,90,5,0.5,20,373.5,7.8
4,1,2,1.0,1.000000,15,5,0.5,20,338.0,7.6
...,...,...,...,...,...,...,...,...,...,...
155,1,2,19.5,0.051282,90,5,0.5,20,97.5,1.3
156,1,2,20.0,0.050000,15,5,0.5,20,240.0,1.9
157,1,2,20.0,0.050000,30,5,0.5,20,240.0,1.9
158,1,2,20.0,0.050000,60,5,0.5,20,240.0,1.9
159,1,2,20.0,0.050000,90,5,0.5,20,240.0,1.9